.config/nvim/plugin
.config/nvim/lazy-lock.json
.config/fish/fish_variables
.config/fish/completions/
.config/fish/conf.d/
.config/lazygit/state.yml
.config/fish/fish_plugins
.config/fish/functions/
.config/lazygit/state.yml
.xmonad/build-x86_64-linux/
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.lsp
.clj-kondo
.nrepl-port
.gnupg
.ssh
.xmonad/prompt-history
.config/nvim/.php-cs-fixer.cache

