[init]
    defaultBranch = main
[user]
	name = Sumanth Yeodti
	email = sumanth.yedoti@gmail.com
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	; pager = delta ; print everything
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	features = line-numbers decorations
	line-numbers = true

[delta "decorations"]
	minus-style = red bold normal
	plus-style = green bold normal
	minus-emph-style = white bold red
	minus-non-emph-style = red bold normal
	plus-emph-style = white bold green
	plus-non-emph-style = green bold normal
	file-style = yellow bold none
	file-decoration-style = yellow box
	hunk-header-style = magenta bold
	hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
	line-numbers-right-format = "{np:^4}│ "

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
	tool = vimdiff

[difftool]
	prompt = false

[web]
	browser = google-chrome
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[github]
	user = sumanthyedoti
[alias]
  s = status
  ss = status --short
  a = add
  co = checkout
  f = fetch
  p = pull
  u = push
  sh = stash
  b = branch
  c = commit
  cam = commit --amend
  can = commit --amend --no-edit
  r = rebase
  rco = rebase --continue
  rat = rebase --abort
  email = config user.email
  d = diff
  d2 = diff @~..@ ; last two commits, can also use "show"
  sd = diff --staged
  ll = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s  %C(dim green)(%cr)  [%an]\" --abbrev-commit -30
  lg = !git log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
  last = log -1 HEAD --stat
  ; branches
  brs = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  cbr = !git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff {1}"
  root = rev-parse --show-toplevel
[pull]
	rebase = true
